.quest-page {
    grid-template: 10% 90% / 1fr 1fr 1fr;
    width: 1500px;
    height: 100%;
    margin: auto;
    /*background-color: cadetblue;*/
}

.quest-page-title {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: darkblue;*/
    font-size: 4em;
}

.quest-filters {
    font-size: 1.5em;
    grid-area: 2 / 1 / 3 / 2;
    /*background-color: darkslategray;*/
    display: flex;
    justify-content: center;
}

.quest-list-container {
    grid-area: 2 / 2 / 3 / 4;
    /*background-color: maroon;*/
}

.quest-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: gray;*/
}